@use 'variables' as *;

.footer {
    padding: 26px 8px;

    &__container {
        max-width: 1024px;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        padding-bottom: 20px;

        @media (max-width: 767px) {
            width: 90%;
            margin-top: 150px;
        }

        .text--small a {
            color: $corTextoSecundario;
            text-decoration: none;
            transition: all ease-in-out .2s;

            &:hover {
                color: $corButtonPrimario;
                transition: all ease-in-out .2s;
            }
        }
    }

    &__logo {
        width: 120px;
        margin-bottom: 10px;
    }

    &__links {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        
        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all ease-in-out .2s;

            &:hover {
                transform: scale(1.1);
                transition: all ease-in-out .2s;
            }
            
            a {
                text-decoration: none;
                padding: 8px;
                display: block;
                font-size: 25px;
            }
        }
    }
    p {
        margin-bottom: 16px
    }
}

.language-selector {
    display: flex;
    align-items: center;

    img {
        width: 22px;
        padding-right: 8px;
    }

    select {
        background-color: transparent;
        border: none;
        color: $corTextoPrincipal;
        height: 38px;

        &:hover {
            color: $corTextoSecundario;
            text-decoration: underline;
        }

        option {
            color: $corDeFundo;
        }
    }
}