@use '_variables' as *;

.hero {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 40% 1fr;
    min-height: 70vh;
    text-align: center;

    @media (max-width: 768px) {
        padding: calc(5.6vw + 25px);
        display: flex;
        flex-direction: column;
        margin-top: -25px;
        min-height: 0;
    }

    @media (min-width: $mobile) and (max-width: $tablet) {
        padding: calc(5.6vw + 25px);
        display: flex;
        flex-direction: column;
        margin-top: -25px;
        min-height: 0;
    }

    &__content {
        max-width: 1024px;
        width: 100%;
        align-items: center;
        padding: 5px;

        &__logo {
            max-width: 700px;
            width: 100%;
            margin-bottom: 20px;
            margin-top: 50px;

            @media (min-width: $mobile) and (max-width: $tablet) {
                margin-top: 10px;
                margin-bottom: 5px;
            }

            @media (max-width: 768px) {
                margin-top: 35px;
            }
        }

        &__combo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 60px;

            @media (min-width: $mobile) and (max-width: $tablet) {
                padding-top: 5px;
            }

            @media (max-width: 768px) {
                padding-top: 20px;
            }

            &__img {
                width: 250px;

                @media (min-width: $mobile) and (max-width: $tablet) {
                    width: 200px;
                }

                @media (max-width: 768px) {
                    width: 120px;
                }
            }
            
            .button {
                width: 300px;
                margin-top: 2vw;
                margin-bottom: 8px;

                @media (min-width: $mobile) and (max-width: $tablet) {
                    width: 250px;
                    height: 50px;
                    font-size: 12px;
                    padding: 0;
                    border: none;
                 }

                @media (max-width: 768px) {
                    width: 220px;
                    height: 40px;
                    font-size: 10px;
                    padding: 0;
                    border: none;
                }
            }
        }

        p {
            margin-bottom: 26px;

            &:last-child {
                margin-top: 30px;

                @media (min-width: $mobile) and (max-width: $tablet) {
                    margin-top: 10px;
                 }
            }
        }

        &__img {
            width: 100%;
            margin-left: 50px;

            @media (min-width: $mobile) and (max-width: $tablet) {
                margin: 20px;
            }

            @media (max-width: 768px) {
                margin: 5px;
            }  
        }
    }
}