@use '_variables' as *;

.hero {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 40% 1fr;
    min-height: 70vh;
    text-align: center;

    @media (max-width: 768px) {
        padding-top: calc(50vw + 25px);
        margin-top: -55px;
    }

    .button {
        margin-top: 2vw;
        margin-bottom: 8px;
    }

    &__content {
        max-width: 1024px;
        align-items: center;
        padding: 5px;

        &__logo {
            width: 450px;
            margin-bottom: 36px;
            margin-top: 90px;
        }

        &__combo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 60px;

            &__img {
                width: 300px;
            }
            .button {
                width: 300px;
            }
        }

        p {
            margin-bottom: 26px;

            &:last-child {
                margin-top: 60px;
            }
        }

        &__img {
            width: 100%;
        }
    }
}