@use 'variables' as *;

.sinopse {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width: 768px) {
        display: block;
    }

    @media (min-width: $mobile) and (max-width: $tablet) {
        display: flex;
        flex-direction: column;
        padding-top: calc(5.6vw + 25px);
        margin-top: -25px;

    }

    img {
        max-width: 100%;
        width: 90%;

        @media (min-width: $mobile) and (max-width: $tablet) {
            width: 70%;
        }
    }

    &__text-container {
        padding: 0 2vw;
        text-align: justify;

        h2 {
            margin-bottom: 24px;

            @media (min-width: $mobile) and (max-width: $tablet) {
                text-align: center;
                margin-top: 12px;
            }
        }

        p {
            padding-top: 12px;
        }

    }
}