// Cores

$corDeFundo: #000;
$corPreta: #000;
$corBranca: #fff;
$corTextoPrincipal: #c8d6e5;
$corTextoSecundario: #f9f9f9;
$corButtonPrimario: #0d6efd;
$corButtonNow: #341f97;
$corButtonDark: #000;

// Breakpoints

$mobile: 768px;
$tablet: 1024px;